.featured {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	border-radius: var(--border-radius);
	padding: var(--padding);
	flex-grow: 1;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--secondary-light);
	color: var(--primary);
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.heading {
	font-size: var(--font-size-large);
}

.featuredImage {
	margin: 0 auto;
	max-width: 100%;

	& img {
		max-width: 100%;
		height: auto;
	}
}