.page {
	padding: var(--padding);
	font-family: var(--font-anonymous-pro);
	background: var(--background);
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	max-width: var(--page-width);
	margin: 0 auto;
}

.header {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
	color: var(--primary);
	border-radius: var(--border-radius);
	padding: var(--padding) 0;
}

.headerTitle {
	font-weight: bold;
}

.headerDescription {
	font-size: var(--font-size-x-small);
	color: var(--text-secondary);
	max-width: 800px;
}

.illustrationsList {
	gap: var(--padding);
	padding-top: var(--spacing-x-large);
	list-style: none;
}

.illustrationsListItem {
	display: flex;
	flex-direction: column;
	color: var(--primary);
	border-radius: var(--border-radius);
}

.illustrationHeader {
	background: var(--primary);
	border-radius: var(--border-radius);
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-01);
	grid-column: span 12;
	color: var(--text);
	justify-content: space-between;

	@media (min-width: 1200px) {
		grid-column: span 4;
	}
}

.illustrationsListItemImages {
	gap: var(--spacing-x-large);
	width: fit-content;
}

.figure {
	padding: var(--padding);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: var(--spacing-03);
	background: var(--secondary);
	grid-column: span 12;

	@media (min-width: 768px) {
		grid-column: span 6;
	}

	@media (min-width: 1200px) {
		grid-column: span 4;
	}
}

.image {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}

.caption {
	font-size: var(--font-size-x-small);
}