.page {
	padding: var(--padding);
	font-family: var(--font-anonymous-pro);
	background: var(--background);
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
	color: var(--primary);
	border-radius: var(--border-radius);
	padding: var(--padding) 0;
	margin-bottom: var(--spacing-02);
}

.headerTitle {
	font-weight: bold;
}

.headerDescription {
	font-size: var(--font-size-x-small);
	color: var(--text-secondary);
	max-width: 800px;
}

.illustrationsList {
	gap: var(--padding);
	padding-top: var(--spacing-x-large);
	list-style: none;
}

.illustrationsListItem {
	display: flex;
	flex-direction: column;
	color: var(--primary);
	border-radius: var(--border-radius);
}

.illustrationHeader {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-01);
	padding-bottom: var(--spacing-03);

	& p {
		width: 100%;

		@media (min-width: 768px) {
			width: 80%;
		}
	}
}

.illustrationsListItemImages {
	gap: var(--spacing-x-large);
	width: fit-content;
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.figure {
	padding: var(--padding);
	border-radius: var(--border-radius);
	max-width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: var(--spacing-01);
	background: var(--secondary);
	grid-column: span 12;

	@media (min-width: 600px) {
		grid-column: span 6;
	}
}

.image {
	width: 100%;
	object-fit: cover;
	height: auto;
}
