.page {
	padding: var(--padding);
	font-family: var(--font-anonymous-pro);
	background: var(--background);
}

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--spacing-02);
	padding-bottom: var(--spacing-03);
	text-align: center;
	background-color: var(--text);
	color: var(--primary);
	border-radius: var(--border-radius);
	padding: var(--padding);
	margin-bottom: var(--spacing-02);
}

.headerTitle {
	font-size: var(--font-size-large);
	font-weight: bold;
}

.headerDescription {
	font-size: var(--font-size-x-small);
	color: var(--text-secondary);
	text-align: center;
	max-width: 800px;
}

.illustrationsList {
	gap: var(--padding);
	padding-top: var(--spacing-x-large);
	list-style: none;
}

.illustrationsListItem {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-02);
	background: var(--secondary);
	color: var(--primary);
	padding: var(--padding);
	border-radius: var(--border-radius);
}

.illustrationHeader {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-01);
	padding-bottom: var(--spacing-03);

	& p {
		width: 100%;

		@media (min-width: 768px) {
			width: 80%;
		}
	}
}

.illustrationsListItemImages {
	padding: var(--padding);
	border-radius: var(--border-radius);
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-x-large);
	width: fit-content;
	justify-content: space-around;
}

.figure {
	max-width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: var(--spacing-01);
}

.image {
	width: 100%;
	object-fit: cover;
	height: auto;
}
