.card {
	border-radius: 16px;
	box-shadow: 0px 4px 8px rgba(41, 41, 41, 0.08);
	cursor: pointer;
	position: relative;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
	transition-property: color;
	transition-property: all;

	&:hover {
		transform: translateY(-4px);
	}
}

.link {
	position: absolute;
	inset: 0;
	outline: none;
}

.body {
	background: var(--offwhite);
	color: var(--maroon);
	padding: 22px 20px 32px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.image {
	display: grid;
	border-bottom: 2px solid var(--maroon);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;

	& img {
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
	}
}

.heading {
	composes: header-5 from global;
}

.description {
	composes: body-small from global;
}

.tagsContainer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding-top: 8px;
}
