.footer {
	display: flex;
	justify-content: space-between;
	padding: var(--padding);

	& img {
		max-height: 100px;
		width: auto;
		height: auto;
	}
}

.mobileHide {
	@media (max-width: 768px) {
		display: none;
	}
}
