.page {
	padding: var(--padding);
	font-family: var(--font-anonymous-pro);
	background: var(--background);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--padding);
	max-width: var(--page-width);
	margin: 0 auto;
}

.title {
	padding: var(--spacing-03) 0;
	grid-column: 1 / -1;
	color: var(--primary);
}

.resume {
	background-color: var(--secondary);
	color: var(--primary);
	border-radius: var(--border-radius);
	padding: var(--spacing-04);
	min-height: 80vh;

	@media (min-width: 768px) {
		padding-left: var(--spacing-05);
		padding-right: var(--spacing-05);
	}
}

.education {
	background-color: var(--primary);
	grid-column: span 12;
	border-radius: var(--border-radius);
	padding: var(--padding);
	color: var(--text);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: 768px) {
		grid-column: span 6;
	}

	@media (min-width: 1200px) {
		grid-column: span 4;
	}
}

.heading {
	text-decoration: underline;
	font-size: var(--font-size-large);
	padding-bottom: var(--spacing-02);

	@media (min-width: 768px) {
		padding-bottom: 0;
	}
}

.current {
	background-color: var(--text);
	grid-column: span 12;
	border-radius: var(--border-radius);
	padding: var(--padding);
	color: var(--primary);

	@media (min-width: 768px) {
		grid-column: span 6;
	}

	@media (min-width: 1200px) {
		grid-column: span 8;
	}
}

.experienceItem {
	background-color: var(--secondary);
	grid-column: span 12;
	border-radius: var(--border-radius);
	padding: var(--padding);
	color: var(--primary);

	@media (min-width: 768px) {
		grid-column: span 6;
	}

	@media (min-width: 1200px) {
		grid-column: span 4;
	}
}

.header {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-01);
	padding-bottom: var(--spacing-01);
}

.company {
	font-size: var(--font-size-small);
}

.role {
	font-size: var(--font-size-x-small);
}

.duration {
	font-size: var(--font-size-x-small);
	font-weight: normal;
}

.descriptionList {
	padding-top: var(--spacing-01);
	padding-left: 10px;
	border-top: 1px solid var(--primary);
	font-size: var(--font-size-x-small);
	line-height: 1.5;
	font-size: 14px;
}
