.wip {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background: var(--dark);
  z-index: 2;
}

.wipText {
  font-size: var(--text-small);
  font-weight: 500;
  text-align: center;
  color: white;
}