.hero {
  composes: container from global;
  padding-top: 28px;
  row-gap: 42px;
  padding-bottom: 200px;
  z-index: 1;

  @media (--medium) {
    row-gap: 64px;
  }

  @media (--large) {
    padding-top: 72px;
  }
}

.textContainer {
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;

  @media (--large) {
    justify-content: flex-start;
    grid-column: 2 / 6;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

.heading {
  font-family: 'Mohave', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: var(--highlight-3);
  display: flex;
  flex-direction: column;
  gap: 6px;

    & span:nth-child(2) {
      padding-left: 30px;
    }

    & span:last-child {
      padding-left: 60px;
    }
}

.description {
  font-family: 'Della Respira', serif;
  font-size: 36px;
  color: var(--highlight);
  text-align: right;

  @media (--large) {
    text-align: right;
  }
}

.imageContainer {
  grid-column: 1 / -1;
  position: relative;
  justify-content: center;
  display: flex;

  @media (--large) {
    justify-content: flex-start;
    grid-column: 8 / 12;
  }
}

.image {
  height: 400px;
  width: auto;

  @media (--large) {
    height: auto;
    width: 100%;
  }
}