.header {
	padding: var(--spacing-large) var(--padding) 0;
}

.nav {
	font-family: var(--font-anonymous-pro);
	display: flex;
	align-items: center;
	background-color: var(--primary);
	padding: var(--spacing-medium);
	color: var(--text);
	border-radius: var(--border-radius);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (min-width: 768px) {
		padding: var(--spacing-medium) var(--spacing-large);
	}
}

.link {
	font-size: var(--font-size-x-small);
}