.profile {
	height: 100%;
	border-radius: var(--border-radius);
	background-color: var(--primary);
	display: flex;
	align-items: flex-end;
	justify-content: end;

}

.profileImage {
	border-bottom-right-radius: var(--border-radius);
	max-width: 60%;
	height: auto;
	padding-top: var(--padding);
}
