.main {
  composes: page-height from global;
  background: var(--sage-dark);
  padding: 80px 0;
  position: relative;
  color: var(--offwhite);

  & a {
    color: var(--sunset-light);
    text-decoration: underline;
  }
}

.header {
  composes: grid-container from global;
}

.heading {
  composes: header-1 from global;
  margin: 0 auto;
  text-align: center;
  grid-column: 1 / -1;
}

.detailsContainer {
  composes: container from global;
  display: grid;
  padding-top: 80px;
  column-gap: 12px;
  row-gap: 24px;

  @media (--medium-up) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.divider {
  width: 30%;
  background: var(--offwhite);
  height: 2px;
  margin: 0 auto;

  @media (--medium-up) {
    display: none;
  }
}

.detail {
  composes: body from global;
  font-size: var(--body);
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;

  @media (--medium-up) {
    padding: 16px 8px 0;
  }

  @media (--medium-up) {
    /* &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 40%;
      background: var(--offwhite);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    } */

    & .iconDivider {
      position: absolute;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.blurb {
  padding-top: 80px;
  composes: container from global;
}

.social {
  padding-top: 80px;
  composes: container from global;
  display: grid;
  row-gap: 12px;
}
