.main {
  composes: page-height from global;
  background: var(--sage-medium);
  position: relative;

  & p {
    width: 100%;
    max-width: 880px;
  }
}

.dividerContainer {
  position: sticky;
  top: var(--nav-height);
	z-index: 1;

  & hr {
    border: none;
    padding: 0;
    height: 4px;
    background: var(--sage-dark);
  }
}

.body {
  composes: container from global;
	padding-top: 80px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.heading {
  composes: header-1 from global;
  text-align: center;
  grid-column: 1 / -1;
}

.description {
  composes: body from global;
  font-size: var(--body);
  text-align: center;
}

.illustrations {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 80px;
	padding-bottom: 100px;
}

.illustrationHeader {
  display: grid;
  align-items: center;
  gap: 12px;
	grid-template-columns: 1fr;

	@media (--medium-up) {
		grid-template-columns: min-content 1fr;
	}
}

.illustrationHeaderIcon {
  transform: rotate(-45deg);
}

.illustrationHeaderTitle {
  composes: header-3 from global;
}

.illustrationHeaderDescription {
  grid-column: 1 / -1;
  composes: body-light from global;
}
.titleWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.images {
  padding-top: 48px;
  display: grid;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  grid-template-columns: 1fr;

  @media (--large) {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: flex-end;
  }
}

.figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  & img {
    max-width: 100%;
  }
}
