.nav {
	height: 62px;
	background: var(--sage-medium);
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 2;
}

.container {
	composes: flex-container from global;
	justify-content: space-between;

	@media (--medium-up) {
		justify-content: center;
	}
}

.desktopNavPanel {
	display: none;
	width: 100%;
	max-width: 1000px;
	justify-content: space-evenly;

	@media (--medium-up) {
		display: flex;
	}
}

.link {
	composes: link from global;
	color: var(--black);
	font-weight: 400;

	&:hover {
		text-decoration: underline;
	}
}

.currentPath {
	font-weight: 600;
}

.mobileButton {
	-webkit-appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;

	@media (--medium-up) {
		display: none;
	}
}

.mobileBodyOuter {
	display: flex;
	width: 100%;

	@media (--medium-up) {
		display: none;
	}
}

.mobileBody {
	width: 100%;
}

.top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.mobileNavLinks {
	display: none;
	position: fixed;
	top: 136px;
	left: 0;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	background: var(--sage-medium);
	z-index: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;

	&.isOpen {
		display: flex;
	}
}
