.nav {
  height: 62px;
  background: #BBBFB5;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--large) {
    height: 80px;
  }
}

.inner {
  composes: flex-container from global;
  justify-content: space-between;

  @media (--medium-up) {
    justify-content: center;
  }
}

.desktopNavPanel {
  display: none;
  grid-column: 1 / -1;
  width: 100%;
  max-width: 1000px;
  justify-content: space-evenly;

  @media (--medium-up) {
    display: flex;
  }
}

.link {
  font-size: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--dark);
}

.currentPath {
  text-decoration: underline;
}

.mobileButton {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  @media (--medium-up) {
    display: none;
  }
}