.nav {
  height: 62px;
  background: #BBBFB5;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--large) {
    height: 80px;
  }
}

.container {
  composes: flex-container from global;
  justify-content: space-between;

  @media (--medium-up) {
    justify-content: center;
  }
}

.desktopNavPanel {
  display: none;
  width: 100%;
  max-width: 1000px;
  justify-content: space-evenly;

  @media (--medium-up) {
    display: flex;
  }
}

.link {
  font-size: var(--text);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: var(--dark);
}

.currentPath {
  text-decoration: underline;
}

.mobileButton {
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  @media (--medium-up) {
    display: none;
  }
}

.mobileBodyOuter {
  display: flex;
  width: 100%;

  @media (--medium-up) {
    display: none;
  }
}

.mobileBody {
  width: 100%;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mobileNavLinks {
  display: none;
  position: fixed;
  top: 61px;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background: #BBBFB5;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  &.isOpen {
    display: flex;
  }
}