:root {
	--pale: #ebe1c8;
	--maroon: #5f2f2b;
	--sage-dark: #677464;
	--sage: #92a498;
	--sunset-light: #d59c7f;
	--sunset-dark: #a24e34;
	--sun: #d9a349;
	--offwhite: #ede8e4;
	--casual: #e5dbd3;
	--deep-green: #2f5858;
	--orange-bright: #da5f36;
	--peach: #e0bcaa;
	--sage-transparent: #92a498;
	--light-bg: #f1efed;
	--sage-light: #dbe0de;
	--black: #1c1c1c;
}
