.header-1 {
	font-weight: 400;
	font-family: var(--heading-font);
	font-size: var(--header-1);
}

.header-2 {
	font-weight: 600;
	font-family: var(--body-font);
	font-size: var(--header-2);
}

.header-3 {
	font-weight: 400;
	font-family: var(--heading-font);
	font-size: var(--header-3);
}

.header-4 {
	font-weight: 400;
	font-family: var(--heading-font);
	font-size: var(--header-4);
}

.header-5 {
	font-weight: 400;
	font-family: var(--body-font);
	font-size: var(--header-5);
}

.header-6 {
	font-weight: 400;
	font-family: var(--body-font);
	font-size: var(--header-6);
}

.footnote {
	font-weight: 400;
	font-family: var(--body-font);
	font-size: var(--footnote);
}

.hero-heading {
	font-weight: 400;
	font-family: var(--heading-font);
	font-size: var(--hero-heading);
}

.link {
	font-weight: 600;
	font-family: var(--body-font);
	font-size: var(--link);
}

.link-underlined {
	font-weight: 600;
	font-family: var(--body-font);
	font-size: var(--link);
	text-decoration: underline;
}

.body-light {
	font-weight: 300;
	font-family: var(--body-font);
	font-size: var(----body-light);
}

.body {
	font-weight: 400;
	font-family: var(--body-font);
	font-size: var(--body);
}

.label {
	font-weight: 400;
	font-family: var(--heading-font);
	font-size: var(--label);
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.page-heading {
	font-family: "Mohave", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 84px;
	line-height: 100%;
	letter-spacing: 0.06em;
}
