.icon {
  --size: 16px;

  flex-shrink: 0;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background-image: var(--icon);
  background-size: var(--size);
}

@supports (-webkit-mask-image: url(#mask)) or (mask-image: url(#mask)) {
  .icon {
    mask-repeat: no-repeat;
    background-image: none;
    mask-size: var(--size);
    mask-image: var(--icon);
    background-color: var(--fill, var(--black));
  }
}

.sm {
  --size: 16px;
}

.md {
  --size: 24px;
}

.lg {
  --size: 32px;
}
