.main {
	composes: page-height from global;
	background: var(--maroon);
	padding: 80px 0;
	position: relative;
}

.heading {
	composes: header-1 from global;
	margin: 0 auto;
	text-align: center;
	color: var(--offwhite);
}

.cardsContainer {
	composes: grid-container from global;
	padding-top: 80px;
}

.card {
	grid-column: 1 / -1;

	@media (--medium-up) {
		grid-column: span 4;
	}
}
